# JDE ETL Source Design
## Goal:  Generate source SQL with friendly names and built-in data Conversion
1. Pull *ALL* Field metadata based on QA 9.3:  Name, Datatype, Decimals
2. Pull *Specific* Table fields
3. Create SQL mapiing pull with data-conversion

In [30]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import os, sys
import warnings

warnings.filterwarnings('ignore')

In [31]:
from decouple import config
config.search_path = '/home/jovyan/work'

### Connect to SQL DB

In [32]:
engine = create_engine(config('DATABASE_URL'))

### 1. Pull *ALL* Field metadata based on QA 9.3:  Name, Datatype, Decimals

In [33]:
sql_field_meta_server = 'ESYS_PROD'
sql_field_meta_lib = 'ARCPCOM71'

In [34]:
sql_field_meta = '''
SELECT 
	RTRIM("FRDTAI")				AS data_item
	,"FRDTAT"					AS data_item_type
	,"FROWTP"					AS data_type
	,"FRDTAS"					AS data_item_size
	,ISNULL("FRCDEC", 0)		AS display_decimals
	,ISNULL("FRDSCR", 'zNA')	AS row_description 
    
FROM 

    OPENQUERY ({}, '

	SELECT
		t.FRDTAI
		,FRDTAT
		,FROWTP
		,FRDTAS
		,FRCDEC
		,FRDSCR
	FROM
		{}.F9210 t
		LEFT JOIN {}.F9202 d
		ON t.FRDTAI = d.FRDTAI AND
			d.FRLNGP = '' '' AND
			d.FRSYR = '' ''  
')

'''.format(sql_field_meta_server, sql_field_meta_lib, sql_field_meta_lib)

In [35]:
print(sql_field_meta)

SELECT
	RTRIM("FRDTAI")				AS data_item
	,"FRDTAT"					AS data_item_type
	,"FROWTP"					AS data_type
	,"FRDTAS"					AS data_item_size
	,ISNULL("FRCDEC", 0)		AS display_decimals
	,ISNULL("FRDSCR", 'zNA')	AS row_description

FROM

    OPENQUERY (ESYS_PROD, '

	SELECT
		t.FRDTAI
		,FRDTAT
		,FROWTP
		,FRDTAS
		,FRCDEC
		,FRDSCR
	FROM
		ARCPCOM71.F9210 t
		LEFT JOIN ARCPCOM71.F9202 d
		ON t.FRDTAI = d.FRDTAI AND
			d.FRLNGP = '' '' AND
			d.FRSYR = '' ''
')

In [36]:
df_field_meta = pd.read_sql_query(sql_field_meta, engine);

In [37]:
df_field_meta.iloc[:,[2,3,4]] = df_field_meta.iloc[:,[2,3,4]].apply(lambda x: pd.to_numeric(x, errors='coerce'))
df_field_meta.fillna(value=0,inplace=True)

### 2. Pull *Specific* Table fields

#  Set Table Name HERE

In [38]:
sql_table = 'NPFIMS'
#sql_table = 'F060116'
#sql_table = 'RPTRULES'

sql_link_server = 'ESYS_PROD'
sql_lib = 'ARCPTEL'
#sql_lib = 'ARCPDTA71'
#sql_lib = 'ESEND'
#sql_lib = 'HSIPDTA71'


stage_db_schema = 'etl.'
convert_julian_date = True

# [ARC | HSI] [P | D] [DTA | CDC] [ 71 | 94]

In [39]:
sql_table_fields = '''

SELECT * from OPENQUERY ({}, '
	SELECT
		*
	FROM
		QSYS2.SYSCOLUMNS
	WHERE
        TABLE_SCHEMA = ''{}'' AND
		TABLE_NAME in( ''{}'')
    ORDER BY 
        ORDINAL_POSITION
')

''' .format(sql_link_server, sql_lib, sql_table)

In [40]:
#print (sql_table_fields)

In [41]:
df_table_fields = pd.read_sql_query(sql_table_fields, engine);

#### Join table fields with data dictionary meta-data

In [42]:
#df_table_fields

In [43]:
df_table_fields = df_table_fields[['ORDINAL_POSITION', 'COLUMN_NAME', 'COLUMN_TEXT', 'DATA_TYPE','LENGTH', 'NUMERIC_PRECISION']]

In [44]:
df_table_fields['data_item'] = df_table_fields.COLUMN_NAME.str[2:]

In [45]:
df_table_fields.head()

,ORDINAL_POSITION,COLUMN_NAME,COLUMN_TEXT,DATA_TYPE,LENGTH,NUMERIC_PRECISION,data_item
0,1,IMACDE,ACTIVITY CODE,CHAR,1,NaN,ACDE
1,2,IMACST,Item Average Cost,DECIMAL,9,9.0,ACST
2,3,IMACHF,AVAILABILITY CHANGE FLAG,CHAR,1,NaN,ACHF
3,4,IMAVLC,AVAILABILITY CODE CORPORATE,CHAR,1,NaN,AVLC
4,5,IMADTE,AVAILABILITY DATE,DECIMAL,6,6.0,ADTE

In [46]:
df_table_fields.data_item.unique()

array(['ACDE', 'ACST', 'ACHF', 'AVLC', 'ADTE', 'RQTY', 'BODT', 'CLSC',
       'CQTC', 'CLQT', 'DESC', 'DKYA', 'DKYB', 'HEIG', 'CSET', 'ITEM',
       'RSET', 'ITAX', 'KITC', 'LENG', 'NDC#', 'PINF', 'PCL1', 'WGTC',
       'SIZE', 'STRN', 'SCDE', 'VEND', 'VITM', 'WEIG', 'WIDT', 'DTYP',
       'LOCT', 'CLMJ', 'CLSJ', 'CLMC', 'CLSM', 'BUYR', 'SUPL', 'RPKE',
       'TXCA', 'UDEF', 'PUCD', 'ENTD', 'FRTC', 'HAZC', 'ADMC', 'CSTP',
       'PKTP', 'INVU', 'SLEL', 'JNKM', 'STCK', 'SLSC', 'PRCD', 'MSC1',
       'MSC2', 'MSC3', 'WDSC', 'PDSC', 'DCLS', 'PRLF', 'WCHC', 'NHAZ',
       'LCTL', 'PSLF', 'JDSC', 'LNTY', 'SNOR', 'STAS', 'SLBT', 'NDC1',
       'NDC2', 'NDC3', 'MLNK', 'ELEN', 'EWID', 'EHEI', 'GIN#', 'EDES',
       'IDES', 'PSPD', 'JSTN', 'WTYP', 'SIDS', 'US01', 'US02', 'US03',
       'US04', 'US05', 'US06', 'US07', 'US08', 'US09', 'US10', 'US11',
       'US12', 'US13', 'US14', 'US15'], dtype=object)

In [47]:
dff = pd.merge(df_table_fields,df_field_meta,on='data_item', how='left')

#### Cleanup final field name
remove trailing dots, special characters, and converto to lower_case

In [48]:
dff['row_description_final'] = dff.row_description.str.rstrip('. ').str.replace(r'%','pct').str.replace(r'$','amt').str.replace(r'[^0-9|a-z|" "]','', case=False).str.replace('  ',' ').str.lower().str.replace(' ','_')

#### Override with Defaults

In [49]:
dff['row_description_final'][dff['data_item']=='LITM'] = 'item_number'
dff['row_description_final'][dff['data_item']=='AN8'] = 'billto'
dff['row_description_final'][dff['data_item']=='SHAN'] = 'shipto'
dff['row_description_final'][dff['data_item']=='DOCO'] = 'salesorder_number'

### 3. Create SQL mapping pull with data-conversion

In [50]:
dff.groupby(['DATA_TYPE', 'data_type','display_decimals'])['ORDINAL_POSITION'].count()

DATA_TYPE  data_type  display_decimals
CHAR       1.0        0.0                  7
           2.0        0.0                 10
           9.0        0.0                 16
                      4.0                  1
           11.0       0.0                  1
DECIMAL    2.0        0.0                  1
           9.0        0.0                  5
                      4.0                  1
Name: ORDINAL_POSITION, dtype: int64

In [51]:
dff

,ORDINAL_POSITION,COLUMN_NAME,COLUMN_TEXT,DATA_TYPE,LENGTH,NUMERIC_PRECISION,data_item,data_item_type,data_type,data_item_size,display_decimals,row_description,row_description_final
0,1,IMACDE,ACTIVITY CODE,CHAR,1,NaN,ACDE,A,2.0,12.0,0.0,Accounting Code. . . . . . . . . . . . .,accounting_code
1,2,IMACST,Item Average Cost,DECIMAL,9,9.0,ACST,P,9.0,15.0,4.0,Average Unit Cost. . . . . . . . . . . .,average_unit_cost
2,3,IMACHF,AVAILABILITY CHANGE FLAG,CHAR,1,NaN,ACHF,NaN,NaN,NaN,NaN,NaN,NaN
3,4,IMAVLC,AVAILABILITY CODE CORPORATE,CHAR,1,NaN,AVLC,A,1.0,1.0,0.0,Availability Check . . . . . . . . . . .,availability_check
4,5,IMADTE,AVAILABILITY DATE,DECIMAL,6,6.0,ADTE,NaN,NaN,NaN,NaN,NaN,NaN
5,6,IMRQTY,RESTRICTED QUANTITY,DECIMAL,5,5.0,RQTY,P,9.0,15.0,0.0,Reorder Quantity . . . . . . . . . . . .,reorder_quantity
6,7,IMBODT,BACK-ORDER DATE,DECIMAL,6,6.0,BODT,NaN,NaN,NaN,NaN,NaN,NaN
7,8,IMCLSC,CLASS CODE,CHAR,2,NaN,CLSC,NaN,NaN,NaN,NaN,NaN,NaN
8,9,IMCQTC,CASE QUANTITY CODE,CHAR,1,NaN,CQTC,NaN,NaN,NaN,NaN,NaN,NaN
9,10,IMCLQT,CASE LOT QUANTITY,DECIMAL,4,4.0,CLQT,P,9.0,15.0,0.0,Closing Quantity . . . . . . . . . . . .,closing_quantity
10,11,IMDESC,DESCRIPTION,CHAR,25,NaN,DESC,O,2.0,30.0,0.0,Description. . . . . . . . . . . . . . .,description
11,12,IMDKYA,DESCRIPTION KEY A,CHAR,25,NaN,DKYA,NaN,NaN,NaN,NaN,NaN,NaN
12,13,IMDKYB,DESCRIPTION KEY B,CHAR,25,NaN,DKYB,NaN,NaN,NaN,NaN,NaN,NaN
13,14,IMHEIG,HEIGHT,DECIMAL,5,5.0,HEIG,NaN,NaN,NaN,NaN,NaN,NaN
14,15,IMCSET,ITEM FAMILY COST SET,CHAR,7,NaN,CSET,A,1.0,1.0,0.0,Cash Settlement (Y/N). . . . . . . . . .,cash_settlement_yn
15,16,IMITEM,ITEM CODE,CHAR,7,NaN,ITEM,A,2.0,6.0,0.0,Item Number. . . . . . . . . . . . . . .,item_number
16,17,IMRSET,ITEM FAMILY RESALE SET,CHAR,7,NaN,RSET,A,9.0,10.0,0.0,Rule Set Name. . . . . . . . . . . . . .,rule_set_name
17,18,IMITAX,ITEM TAX CODE,CHAR,1,NaN,ITAX,NaN,NaN,NaN,NaN,NaN,NaN
18,19,IMKITC,"'M' = MIX/MATCH,'N' = MIX/MATCH GROUP RCD",CHAR,1,NaN,KITC,A,1.0,1.0,0.0,Kit Component Lines. . . . . . . . . . .,kit_component_lines
19,20,IMLENG,LENGTH,DECIMAL,5,5.0,LENG,NaN,NaN,NaN,NaN,NaN,NaN
20,21,IMNDC#,N.D.C. CODE-PRIMARY SUPPLIER,DECIMAL,11,11.0,NDC#,NaN,NaN,NaN,NaN,NaN,NaN
21,22,IMPINF,PRICING INFORMATION,CHAR,20,NaN,PINF,P,9.0,9.0,4.0,Percentage - Budget Change . . . . . . .,percentage_budget_change
22,23,IMPCL1,"PRODUCT CLASSIFICATION CODE, MAJOR",CHAR,3,NaN,PCL1,A,2.0,5.0,0.0,Prob of Close #1 . . . . . . . . . . . .,prob_of_close_1
23,24,IMWGTC,ITEM SHIPPING METHOD CODE,CHAR,3,NaN,WGTC,NaN,NaN,NaN,NaN,NaN,NaN
24,25,IMSIZE,PRODUCT SIZE,CHAR,8,NaN,SIZE,NaN,NaN,NaN,NaN,NaN,NaN
25,26,IMSTRN,ITEM STRENGTH,CHAR,7,NaN,STRN,A,2.0,3.0,0.0,Transaction Code . . . . . . . . . . . .,transaction_code
26,27,IMSCDE,SUBSTITUTION CODE,CHAR,1,NaN,SCDE,NaN,NaN,NaN,NaN,NaN,NaN
27,28,IMVEND,VENDOR CODE,CHAR,6,NaN,VEND,S,9.0,8.0,0.0,Primary / Last Supplier Number . . . . .,primary_last_supplier_number
28,29,IMVITM,PRIMARY SUPPLIER ITEM CODE,CHAR,12,NaN,VITM,NaN,NaN,NaN,NaN,NaN,NaN
29,30,IMWEIG,WEIGHT,DECIMAL,5,5.0,WEIG,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,IMSLBT,ITEM E-SHIPPING LABEL TYPE,CHAR,2,NaN,SLBT,NaN,NaN,NaN,NaN,NaN,NaN
71,72,IMNDC1,NDC# 10 Digit Edited,DECIMAL,10,10.0,NDC1,NaN,NaN,NaN,NaN,NaN,NaN
72,73,IMNDC2,NDC# 10 Digit,CHAR,12,NaN,NDC2,NaN,NaN,NaN,NaN,NaN,NaN
73,74,IMNDC3,NDC# 11 Digit,CHAR,13,NaN,NDC3,NaN,NaN,NaN,NaN,NaN,NaN
74,75,IMMLNK,Item Image Link,CHAR,60,NaN,MLNK,NaN,NaN,NaN,NaN,NaN,NaN
75,76,IMELEN,Item Ea Length,DECIMAL,6,6.0,ELEN,NaN,NaN,NaN,NaN,NaN,NaN
76,77,IMEWID,Item Ea Width,DECIMAL,6,6.0,EWID,NaN,NaN,NaN,NaN,NaN,NaN
77,78,IMEHEI,Item Ea Heigth,DECIMAL,6,6.0,EHEI,NaN,NaN,NaN,NaN,NaN,NaN
78,79,IMGIN#,GET IN #,CHAR,14,NaN,GIN#,NaN,NaN,NaN,NaN,NaN,NaN
79,80,IMEDES,Item Extended Description,CHAR,65,NaN,EDES,NaN,NaN,NaN,NaN,NaN,NaN
80,81,IMIDES,Invoice Description,CHAR,65,NaN,IDES,NaN,NaN,NaN,NaN,NaN,NaN
81,82,IMPSPD,Packing Slip Prt Desc,CHAR,65,NaN,PSPD,NaN,NaN,NaN,NaN,NaN,NaN
82,83,IMJSTN,JDE Item Strength,CHAR,12,NaN,JSTN,NaN,NaN,NaN,NaN,NaN,NaN
83,84,IMWTYP,Warranty Type,CHAR,8,NaN,WTYP,NaN,NaN,NaN,NaN,NaN,NaN
84,85,IMSIDS,Supplier Item#,CHAR,25,NaN,SIDS,NaN,NaN,NaN,NaN,NaN,NaN
85,86,IMUS01,Future Use - 01,CHAR,2,NaN,US01,S,9.0,5.0,0.0,Users 01 . . . . . . . . . . . . . . . .,users_01
86,87,IMUS02,Future Use - 02,CHAR,2,NaN,US02,S,9.0,5.0,0.0,Users 02 . . . . . . . . . . . . . . . .,users_02
87,88,IMUS03,Future Use - 03,CHAR,2,NaN,US03,S,9.0,5.0,0.0,Users 03 . . . . . . . . . . . . . . . .,users_03
88,89,IMUS04,Future Use - 04,CHAR,2,NaN,US04,S,9.0,5.0,0.0,Users 04 . . . . . . . . . . . . . . . .,users_04
89,90,IMUS05,Future Use - 05,CHAR,2,NaN,US05,S,9.0,5.0,0.0,Users 05 . . . . . . . . . . . . . . . .,users_05
90,91,IMUS06,Future Use - 06,CHAR,5,NaN,US06,S,9.0,5.0,0.0,Users 06 . . . . . . . . . . . . . . . .,users_06
91,92,IMUS07,Future Use - 07,CHAR,5,NaN,US07,S,9.0,5.0,0.0,Users 07 . . . . . . . . . . . . . . . .,users_07
92,93,IMUS08,Future Use - 08,CHAR,10,NaN,US08,S,9.0,5.0,0.0,Users 08 . . . . . . . . . . . . . . . .,users_08
93,94,IMUS09,Future Use - 09,CHAR,10,NaN,US09,S,9.0,5.0,0.0,Users 09 . . . . . . . . . . . . . . . .,users_09
94,95,IMUS10,Future Use - 10,CHAR,10,NaN,US10,S,9.0,5.0,0.0,Users 10 . . . . . . . . . . . . . . . .,users_10
95,96,IMUS11,Future Use - 11,CHAR,20,NaN,US11,S,9.0,5.0,0.0,Users 11 . . . . . . . . . . . . . . . .,users_11
96,97,IMUS12,Future Use - 12,CHAR,20,NaN,US12,S,9.0,5.0,0.0,Users 12 . . . . . . . . . . . . . . . .,users_12
97,98,IMUS13,Future Use - 13,CHAR,40,NaN,US13,S,9.0,5.0,0.0,Users 13 . . . . . . . . . . . . . . . .,users_13
98,99,IMUS14,Future Use - 14,DECIMAL,13,13.0,US14,S,9.0,5.0,0.0,Users 14 . . . . . . . . . . . . . . . .,users_14
99,100,IMUS15,Future Use - 15,DECIMAL,13,13.0,US15,S,9.0,5.0,0.0,Users 15 . . . . . . . . . . . . . . . .,users_15

In [52]:
def field_format_sel(col_name, col_type, col_dec):
    val =''

    if col_type == 9 :
        if col_dec > 0 :
            val = 'CAST(({})/{} AS DEC({},{})) AS {}'.format(col_name,10**col_dec,15,np.int(col_dec),col_name)
        else :
            val = col_name
    elif  col_type == 11 : 
        if convert_julian_date :
            val = 'CASE WHEN {} IS NOT NULL THEN DATE(DIGITS(DEC({}+ 1900000,7,0))) ELSE NULL END AS {}'.format(col_name, col_name, col_name)
        else :
            val = '{} as {}'.format(col_name,col_name)
    else : 
        val = col_name
    return val;

def field_format_map(col_name, col_descr, is_etl = False):
    val =''

    col_name_format = '{message:{fill}{align}{width}}'.format(message=col_name, fill='_', align='<', width=6)
    
    col_descr_format = col_descr
    if str.isdigit(col_descr_format[0]) :
        col_descr_format = "_" + col_descr_format
        
    if is_etl :
        val = '{}_{} AS {}'.format(col_name_format, col_descr_format, col_descr_format)
    else :
        val = '"{}" AS {}_{}'.format(col_name, col_name_format, col_descr_format)

    return val;



sql_field_map = ', '.join([field_format_map(x,y)  \
                           for x, y in zip(dff['COLUMN_NAME'], dff['row_description_final'])])

sql_field_etl = ', '.join([field_format_map(x,y,is_etl=True)  \
                           for x, y in zip(dff['COLUMN_NAME'], dff['row_description_final'])])
#
# ok
sql_field_sel = ', '.join([ field_format_sel(col_name, col_type, col_dec) \
                           for col_name, col_type, col_dec in zip(dff['COLUMN_NAME'], dff['data_type'], dff['display_decimals'])])

TypeError: 'float' object is not subscriptable

In [ ]:
sql_field_sel

In [ ]:
sql_table_map = '''

--------------------------------------------------------------------------------
-- DROP TABLE Integration.{}_{}_<instert_friendly_name_here>
--------------------------------------------------------------------------------

SELECT 

    {} 
    {} 

-- INTO {}{}_{}_<instert_friendly_name_here>

FROM 
    OPENQUERY ({}, '

	SELECT
		{}

	FROM
		{}.{}
--    WHERE
--        <insert custom code here>
--    ORDER BY
--        <insert custom code here>
')

--------------------------------------------------------------------------------

'''.format(sql_lib, sql_table, 'Top 5', sql_field_map, stage_db_schema, sql_lib, sql_table, sql_link_server, sql_field_sel, sql_lib, sql_table)

### Output Table
1. Use to create STAGE via SQL link table 
1. Note that some Julian _JDT conversion will need to be converted Post

In [ ]:
print(sql_table_map)

In [ ]:
dff

In [ ]:
%time df_table_map = pd.read_sql_query(sql_table_map, engine);

### Next steps...
Add SQL to SQL Tools data package

In [ ]:
df_table_map