# JDE ETL Source Design
## Goal:  Generate source SQL with friendly names and built-in data Conversion
1. Pull *ALL* Field metadata based on QA 9.3:  Name, Datatype, Decimals
2. Pull *Specific* Table fields
3. Create SQL mapiing pull with data-conversion

In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import os, sys
import warnings

warnings.filterwarnings('ignore')

In [2]:
from decouple import config
config.search_path = '/home/jovyan/work'

### Connect to SQL DB

In [3]:
engine = create_engine(config('DATABASE_URL'))

### 1. Pull *ALL* Field metadata based on QA 9.3:  Name, Datatype, Decimals

In [4]:
sql_field_meta_server = 'ESYS_PROD'
sql_field_meta_lib = 'ARCPCOM71'

In [5]:
sql_field_meta = '''
SELECT 
	RTRIM("FRDTAI")				AS data_item
	,"FRDTAT"					AS data_item_type
	,"FROWTP"					AS data_type
	,"FRDTAS"					AS data_item_size
	,ISNULL("FRCDEC", 0)		AS display_decimals
	,ISNULL("FRDSCR", 'zNA')	AS row_description 
    
FROM 

    OPENQUERY ({}, '

	SELECT
		t.FRDTAI
		,FRDTAT
		,FROWTP
		,FRDTAS
		,FRCDEC
		,FRDSCR
	FROM
		{}.F9210 t
		LEFT JOIN {}.F9202 d
		ON t.FRDTAI = d.FRDTAI AND
			d.FRLNGP = '' '' AND
			d.FRSYR = '' ''  
')

'''.format(sql_field_meta_server, sql_field_meta_lib, sql_field_meta_lib)

In [6]:
print(sql_field_meta)

SELECT
	RTRIM("FRDTAI")				AS data_item
	,"FRDTAT"					AS data_item_type
	,"FROWTP"					AS data_type
	,"FRDTAS"					AS data_item_size
	,ISNULL("FRCDEC", 0)		AS display_decimals
	,ISNULL("FRDSCR", 'zNA')	AS row_description

FROM

    OPENQUERY (ESYS_PROD, '

	SELECT
		t.FRDTAI
		,FRDTAT
		,FROWTP
		,FRDTAS
		,FRCDEC
		,FRDSCR
	FROM
		ARCPCOM71.F9210 t
		LEFT JOIN ARCPCOM71.F9202 d
		ON t.FRDTAI = d.FRDTAI AND
			d.FRLNGP = '' '' AND
			d.FRSYR = '' ''
')

In [7]:
df_field_meta = pd.read_sql_query(sql_field_meta, engine);

In [8]:
df_field_meta.iloc[:,[2,3,4]] = df_field_meta.iloc[:,[2,3,4]].apply(lambda x: pd.to_numeric(x, errors='coerce'))
df_field_meta.fillna(value=0,inplace=True)

### 2. Pull *Specific* Table fields

#  Set Table Name HERE

In [9]:
sql_table = 'F4211'
#sql_table = 'F060116'
#sql_table = 'RPTRULES'

sql_link_server = 'ESYS_PROD'
#sql_lib = 'ARCPTEL'
sql_lib = 'ARCPDTA71'
#sql_lib = 'ESEND'
#sql_lib = 'HSIPDTA71'


stage_db_schema = 'Integration.'
convert_julian_date = True

# [ARC | HSI] [P | D] [DTA | CDC] [ 71 | 94]

In [10]:
sql_table_fields = '''

SELECT * from OPENQUERY ({}, '
	SELECT
		*
	FROM
		QSYS2.SYSCOLUMNS
	WHERE
        TABLE_SCHEMA = ''{}'' AND
		TABLE_NAME in( ''{}'')
    ORDER BY 
        ORDINAL_POSITION
')

''' .format(sql_link_server, sql_lib, sql_table)

In [11]:
#print (sql_table_fields)

In [12]:
df_table_fields = pd.read_sql_query(sql_table_fields, engine);

#### Join table fields with data dictionary meta-data

In [13]:
#df_table_fields

In [14]:
df_table_fields = df_table_fields[['ORDINAL_POSITION', 'COLUMN_NAME', 'COLUMN_TEXT', 'DATA_TYPE','LENGTH', 'NUMERIC_PRECISION']]

In [15]:
df_table_fields['data_item'] = df_table_fields.COLUMN_NAME.str[2:]

In [16]:
df_table_fields.head()

,ORDINAL_POSITION,COLUMN_NAME,COLUMN_TEXT,DATA_TYPE,LENGTH,NUMERIC_PRECISION,data_item
0,1,SDKCOO,Order Company. . . . . . . . . . . . . .,CHAR,5,NaN,KCOO
1,2,SDDOCO,Order Number . . . . . . . . . . . . . .,NUMERIC,8,8.0,DOCO
2,3,SDDCTO,Order Type . . . . . . . . . . . . . . .,CHAR,2,NaN,DCTO
3,4,SDLNID,Line Number. . . . . . . . . . . . . . .,DECIMAL,6,6.0,LNID
4,5,SDSFXO,Order Suffix . . . . . . . . . . . . . .,CHAR,3,NaN,SFXO

In [17]:
df_table_fields.data_item.unique()

array(['KCOO', 'DOCO', 'DCTO', 'LNID', 'SFXO', 'SFX', 'MCU', 'CO', 'OKCO',
       'OORN', 'OCTO', 'OGNO', 'RKCO', 'RORN', 'RCTO', 'RLLN', 'DMCT',
       'DMCS', 'BALU', 'AN8', 'SHAN', 'MKFR', 'BTAN', 'PA8', 'DRQJ',
       'TRDJ', 'PDDJ', 'OPDJ', 'ADDJ', 'IVD', 'CNDJ', 'DGL', 'RSDJ',
       'PEFJ', 'PPDJ', 'RQSJ', 'ADLJ', 'DRQT', 'RSDT', 'VR01', 'VR02',
       'VR03', 'ITM', 'LITM', 'AITM', 'MERL', 'LOCN', 'LOTN', 'FRGD',
       'THGD', 'ACGD', 'FRMP', 'THRP', 'APOT', 'EXDP', 'DSC1', 'DSC2',
       'LNTY', 'NXTR', 'LTTR', 'HOLD', 'EMCU', 'HDBU', 'DMBU', 'RLIT',
       'KTLN', 'CPNT', 'RKIT', 'KTP', 'CSID', 'SRP1', 'SRP2', 'SRP3',
       'SRP4', 'SRP5', 'PRP1', 'PRP2', 'PRP3', 'PRP4', 'PRP5', 'DMS1',
       'DMT1', 'UOM', 'UORG', 'SOQS', 'SOBK', 'SOCN', 'SONE', 'UOPN',
       'QTYT', 'QRLV', 'COMM', 'OTQY', 'BCRC', 'UPRC', 'AEXP', 'AOPN',
       'PROV', 'TPC', 'APUM', 'LPRC', 'UNCS', 'ECST', 'CSTO', 'TCST',
       'INMG', 'PTC', 'RYIN', 'DTBS', 'TRDC', 'FUN2', 'ASN', 'OSEQ',
       'PRGR', 'CLVL', 'DSPR', 'DSFT', 'FAPP', 'CADC', 'KCO', 'DOC', 'DCT',
       'ODOC', 'ODCT', 'OKC', 'PSN', 'DELN', 'PTSK', 'TAX1', 'TXA1',
       'EXR1', 'ATXT', 'PRIO', 'RESL', 'BACK', 'SBAL', 'APTS', 'LOB',
       'EUSE', 'DTYS', 'NTR', 'VEND', 'ANBY', 'CARS', 'MOT', 'COT', 'ROUT',
       'STOP', 'ZON', 'CNID', 'FRTH', 'AFT', 'FUF1', 'FRTC', 'FRAT',
       'RATT', 'SHCM', 'SHCN', 'SHPN', 'SERN', 'LDNM', 'SHMT', 'TKNR',
       'TKTM', 'TKDA', 'UOM1', 'PQOR', 'UOM2', 'SQOR', 'UOM4', 'ITWT',
       'WTUM', 'ITVL', 'VLUM', 'RPRC', 'ORPR', 'ORP', 'CMGP', 'CMGL',
       'GLC', 'CTRY', 'FY', 'STTS', 'SO01', 'SO02', 'SO03', 'SO04', 'SO05',
       'SO06', 'SO07', 'SO08', 'SO09', 'SO10', 'SO11', 'SO12', 'SO13',
       'SO14', 'SO15', 'SO16', 'SO17', 'SO18', 'SO19', 'SO20', 'SLSM',
       'SLCM', 'SLM2', 'SLC2', 'ACOM', 'CMCG', 'RCD', 'GRWT', 'GWUM',
       'ANI', 'AID', 'OMCU', 'OBJ', 'SUB', 'LT', 'SBL', 'SBLT', 'LCOD',
       'UPC1', 'UPC2', 'UPC3', 'SWMS', 'UNCD', 'CRMD', 'CRCD', 'CRR',
       'FPRC', 'FUP', 'FEA', 'FUC', 'FEC', 'URCD', 'URDT', 'URAT', 'URAB',
       'URRF', 'SCPD', 'SCPT', 'SCPS', 'EDCK', 'SBCK', 'BBCK', 'CMDM',
       'USC1', 'USC2', 'USC3', 'USC4', 'USC5', 'BLNO', 'TMUP', 'S1DJ',
       'S2DJ', 'WORN', 'WCTO', 'WKCO', 'WGNO', 'WCEJ', 'WFLG', 'WODO',
       'WOCT', 'MMCU', 'SOQO', 'BOLA', 'SO21', 'SO22', 'SO23', 'SO24',
       'SO25', 'SO26', 'SO27', 'SO28', 'SO29', 'SO30', 'ABR1', 'ABT1',
       'ABR2', 'ABT2', 'ABR3', 'ABT3', 'ABR4', 'ABT4', 'TORG', 'USER',
       'PID', 'JOBN', 'UPMJ', 'TDAY', 'UPAJ', 'TENT'], dtype=object)

In [18]:
dff = pd.merge(df_table_fields,df_field_meta,on='data_item', how='left')

#### Cleanup final field name
remove trailing dots, special characters, and converto to lower_case

In [19]:
dff['row_description_final'] = dff.row_description.str.rstrip('. ').str.replace(r'%','pct').str.replace(r'$','amt').str.replace(r'[^0-9|a-z|" "]','', case=False).str.replace('  ',' ').str.lower().str.replace(' ','_')

#### Override with Defaults

In [20]:
dff['row_description_final'][dff['data_item']=='LITM'] = 'item_number'
dff['row_description_final'][dff['data_item']=='AN8'] = 'billto'
dff['row_description_final'][dff['data_item']=='SHAN'] = 'shipto'
dff['row_description_final'][dff['data_item']=='DOCO'] = 'salesorder_number'

### 3. Create SQL mapping pull with data-conversion

In [21]:
dff.groupby(['DATA_TYPE', 'data_type','display_decimals'])['ORDINAL_POSITION'].count()

DATA_TYPE  data_type  display_decimals
CHAR       1.0        0.0                  74
           2.0        0.0                 115
DECIMAL    9.0        0.0                  17
                      2.0                   6
                      3.0                  10
                      4.0                  12
NUMERIC    9.0        0.0                  36
                      1.0                   1
                      3.0                   1
           11.0       0.0                  20
Name: ORDINAL_POSITION, dtype: int64

In [22]:
dff

,ORDINAL_POSITION,COLUMN_NAME,COLUMN_TEXT,DATA_TYPE,LENGTH,NUMERIC_PRECISION,data_item,data_item_type,data_type,data_item_size,display_decimals,row_description,row_description_final
0,1,SDKCOO,Order Company. . . . . . . . . . . . . .,CHAR,5,NaN,KCOO,A,2.0,5.0,0.0,Order Number Document Company. . . . . .,order_number_document_company
1,2,SDDOCO,Order Number . . . . . . . . . . . . . .,NUMERIC,8,8.0,DOCO,S,9.0,8.0,0.0,Order Number . . . . . . . . . . . . . .,salesorder_number
2,3,SDDCTO,Order Type . . . . . . . . . . . . . . .,CHAR,2,NaN,DCTO,A,2.0,2.0,0.0,Order Type . . . . . . . . . . . . . . .,order_type
3,4,SDLNID,Line Number. . . . . . . . . . . . . . .,DECIMAL,6,6.0,LNID,P,9.0,6.0,3.0,Line Number. . . . . . . . . . . . . . .,line_number
4,5,SDSFXO,Order Suffix . . . . . . . . . . . . . .,CHAR,3,NaN,SFXO,A,2.0,3.0,0.0,Order Suffix . . . . . . . . . . . . . .,order_suffix
5,6,SDSFX,Pay Item . . . . . . . . . . . . . . . .,CHAR,3,NaN,SFX,A,2.0,3.0,0.0,Pay Item . . . . . . . . . . . . . . . .,pay_item
6,7,SDMCU,Business Unit. . . . . . . . . . . . . .,CHAR,12,NaN,MCU,A,2.0,12.0,0.0,Business Unit. . . . . . . . . . . . . .,business_unit
7,8,SDCO,Company. . . . . . . . . . . . . . . . .,CHAR,5,NaN,CO,A,2.0,5.0,0.0,Company. . . . . . . . . . . . . . . . .,company
8,9,SDOKCO,Original Order Document Company. . . . .,CHAR,5,NaN,OKCO,A,2.0,5.0,0.0,Original Order Document Company. . . . .,original_order_document_company
9,10,SDOORN,Original Order Number. . . . . . . . . .,CHAR,8,NaN,OORN,A,2.0,8.0,0.0,Original Order Number. . . . . . . . . .,original_order_number
10,11,SDOCTO,Original Order Type. . . . . . . . . . .,CHAR,2,NaN,OCTO,A,2.0,2.0,0.0,Original Order Type. . . . . . . . . . .,original_order_type
11,12,SDOGNO,Original Line Number . . . . . . . . . .,DECIMAL,7,7.0,OGNO,P,9.0,7.0,3.0,Original Line Number . . . . . . . . . .,original_line_number
12,13,SDRKCO,Related Order Key Company. . . . . . . .,CHAR,5,NaN,RKCO,A,2.0,5.0,0.0,Related Order Key Company. . . . . . . .,related_order_key_company
13,14,SDRORN,Related Order Number . . . . . . . . . .,CHAR,8,NaN,RORN,A,2.0,8.0,0.0,Related Order Number . . . . . . . . . .,related_order_number
14,15,SDRCTO,Related Order Type . . . . . . . . . . .,CHAR,2,NaN,RCTO,A,2.0,2.0,0.0,Related Order Type . . . . . . . . . . .,related_order_type
15,16,SDRLLN,Related PO/SO Line Number. . . . . . . .,DECIMAL,7,7.0,RLLN,P,9.0,7.0,3.0,Related PO/SO Line Number. . . . . . . .,related_poso_line_number
16,17,SDDMCT,Agreement Nbr. . . . . . . . . . . . . .,CHAR,12,NaN,DMCT,A,2.0,12.0,0.0,Contract Number. . . . . . . . . . . . .,contract_number
17,18,SDDMCS,Agreement Supplement. . . . .. . . . ..,NUMERIC,3,3.0,DMCS,S,9.0,3.0,0.0,Contract Supplement. . . . . . . . . . .,contract_supplement
18,19,SDBALU,Contract Balances Updated Y/N. . . . . .,CHAR,1,NaN,BALU,A,1.0,1.0,0.0,Contract Balances Updated Y/N. . . . . .,contract_balances_updated_yn
19,20,SDAN8,Address Number . . . . . . . . . . . . .,NUMERIC,8,8.0,AN8,S,9.0,8.0,0.0,Address Number . . . . . . . . . . . . .,billto
20,21,SDSHAN,Ship To. . . . . . . . . . . . . . . . .,NUMERIC,8,8.0,SHAN,S,9.0,8.0,0.0,Ship To. . . . . . . . . . . . . . . . .,shipto
21,22,SDMKFR,Mark-for . . . . . . . . . . . . . . . .,NUMERIC,8,8.0,MKFR,S,9.0,8.0,0.0,Mark-for . . . . . . . . . . . . . . . .,markfor
22,23,SDBTAN,Bill To Number . . . . . . . . . . . . .,NUMERIC,8,8.0,BTAN,S,9.0,8.0,0.0,Bill To Number . . . . . . . . . . . . .,bill_to_number
23,24,SDPA8,Parent Number. . . . . . . . . . . . . .,NUMERIC,8,8.0,PA8,S,9.0,8.0,0.0,Parent Number. . . . . . . . . . . . . .,parent_number
24,25,SDDRQJ,Requested. . . . . . . . . . . . . . . .,NUMERIC,6,6.0,DRQJ,S,11.0,6.0,0.0,Requested. . . . . . . . . . . . . . . .,requested
25,26,SDTRDJ,Order Date . . . . . . . . . . . . . . .,NUMERIC,6,6.0,TRDJ,S,11.0,6.0,0.0,Order Date . . . . . . . . . . . . . . .,order_date
26,27,SDPDDJ,Scheduled Pick . . . . . . . . . . . . .,NUMERIC,6,6.0,PDDJ,S,11.0,6.0,0.0,Scheduled Pick . . . . . . . . . . . . .,scheduled_pick
27,28,SDOPDJ,Original Promised. . . . . . . . . . . .,NUMERIC,6,6.0,OPDJ,S,11.0,6.0,0.0,Original Promised. . . . . . . . . . . .,original_promised
28,29,SDADDJ,Actual Ship. . . . . . . . . . . . . . .,NUMERIC,6,6.0,ADDJ,S,11.0,6.0,0.0,Actual Ship. . . . . . . . . . . . . . .,actual_ship
29,30,SDIVD,Invoice Date . . . . . . . . . . . . . .,NUMERIC,6,6.0,IVD,S,11.0,6.0,0.0,Invoice Date . . . . . . . . . . . . . .,invoice_date
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,SDWOCT,Order Type . . . . . . . . . . . . . . .,CHAR,2,NaN,WOCT,A,2.0,2.0,0.0,Order Type . . . . . . . . . . . . . . .,order_type
263,264,SDMMCU,Branch . . . . . . . . . . . . . . . . .,CHAR,12,NaN,MMCU,A,2.0,12.0,0.0,Branch . . . . . . . . . . . . . . . . .,branch
264,265,SDSOQO,Original Quantity. . . . . . . . . . . .,DECIMAL,15,15.0,SOQO,P,9.0,15.0,0.0,Original Quantity. . . . . . . . . . . .,original_quantity
265,266,SDBOLA,Bill of Lading Number. . . . . . . . . .,NUMERIC,17,17.0,BOLA,S,9.0,17.0,0.0,Bill of Lading Number. . . . . . . . . .,bill_of_lading_number
266,267,SDSO21,Exchange Rate Date Flag . . .. . . . ..,CHAR,1,NaN,SO21,A,1.0,1.0,0.0,Exchange Rate Date Flag . . . . . . . ..,exchange_rate_date_flag
267,268,SDSO22,Future Line Printed. . . . . . . . . . .,CHAR,1,NaN,SO22,A,1.0,1.0,0.0,Future Line Printed. . . . . . . . . . .,future_line_printed
268,269,SDSO23,Sales Order Status 23. . . . . . . . . .,CHAR,1,NaN,SO23,A,1.0,1.0,0.0,Sales Order Status 23. . . . . . . . . .,sales_order_status_23
269,270,SDSO24,Sales Order Status 24. . . . . . . . . .,CHAR,1,NaN,SO24,A,1.0,1.0,0.0,Sales Order Status 24. . . . . . . . . .,sales_order_status_24
270,271,SDSO25,Sales Order Status 25. . . . . . . . . .,CHAR,1,NaN,SO25,A,1.0,1.0,0.0,Sales Order Status 25. . . . . . . . . .,sales_order_status_25
271,272,SDSO26,Sales Order Status 26. . . . . . . . . .,CHAR,1,NaN,SO26,A,1.0,1.0,0.0,Sales Order Status 26. . . . . . . . . .,sales_order_status_26
272,273,SDSO27,Sales Order Status 27. . . . . . . . . .,CHAR,1,NaN,SO27,A,1.0,1.0,0.0,Sales Order Status 27. . . . . . . . . .,sales_order_status_27
273,274,SDSO28,Sales Order Status 28. . . . . . . . . .,CHAR,1,NaN,SO28,A,1.0,1.0,0.0,Sales Order Status 28. . . . . . . . . .,sales_order_status_28
274,275,SDSO29,Sales Order Status 29. . . . . . . . . .,CHAR,1,NaN,SO29,A,1.0,1.0,0.0,Sales Order Status 29. . . . . . . . . .,sales_order_status_29
275,276,SDSO30,Sales Order Status 30. . . . . . . . . .,CHAR,1,NaN,SO30,A,1.0,1.0,0.0,Sales Order Status 30. . . . . . . . . .,sales_order_status_30
276,277,SDABR1,Enh Subledger Code 1 . . . . . . . . . .,CHAR,12,NaN,ABR1,A,2.0,12.0,0.0,Enh Subledger Code 1 . . . . . . . . . .,enh_subledger_code_1
277,278,SDABT1,Enh Subledger Type 1. . . . .. . .. . .,CHAR,1,NaN,ABT1,A,1.0,1.0,0.0,Enh Subledger Type 1. . . . . . . .. . .,enh_subledger_type_1
278,279,SDABR2,Enh Subledger Code 2 . . . . . . . . . .,CHAR,12,NaN,ABR2,A,2.0,12.0,0.0,Enh Subledger Code 2 . . . . . . . . . .,enh_subledger_code_2
279,280,SDABT2,Enh Subledger Type 2. . . . .. . .. . .,CHAR,1,NaN,ABT2,A,1.0,1.0,0.0,Enh Subledger Type 2. . . . . . . .. . .,enh_subledger_type_2
280,281,SDABR3,Enh Subledger Code 3 . . . . . . . . . .,CHAR,34,NaN,ABR3,A,2.0,34.0,0.0,Enh Subledger Code 3 . . . . . . . . . .,enh_subledger_code_3
281,282,SDABT3,Enh Subledger Type 3. . . . .. . .. . .,CHAR,1,NaN,ABT3,A,1.0,1.0,0.0,Enh Subledger Type 3. . . . . . . .. . .,enh_subledger_type_3
282,283,SDABR4,Enh Subledger Code 4. . . . .. . .. . .,CHAR,34,NaN,ABR4,A,2.0,34.0,0.0,Enh Subledger Code 4. . . . . . . .. . .,enh_subledger_code_4
283,284,SDABT4,Enh Subledger Type 4. . . . .. . .. . .,CHAR,1,NaN,ABT4,A,1.0,1.0,0.0,Enh Subledger Type 4. . . . . . . .. . .,enh_subledger_type_4
284,285,SDTORG,Transaction Originator . . . . . . . . .,CHAR,10,NaN,TORG,A,2.0,10.0,0.0,Transaction Originator . . . . . . . . .,transaction_originator
285,286,SDUSER,User ID. . . . . . . . . . . . . . . . .,CHAR,10,NaN,USER,A,2.0,10.0,0.0,User ID. . . . . . . . . . . . . . . . .,user_id
286,287,SDPID,Program ID . . . . . . . . . . . . . . .,CHAR,10,NaN,PID,A,2.0,10.0,0.0,Program ID . . . . . . . . . . . . . . .,program_id
287,288,SDJOBN,Work Station ID. . . . . . . . . . . . .,CHAR,10,NaN,JOBN,A,2.0,10.0,0.0,Work Station ID. . . . . . . . . . . . .,work_station_id
288,289,SDUPMJ,Date Updated . . . . . . . . . . . . . .,NUMERIC,6,6.0,UPMJ,S,11.0,6.0,0.0,Date Updated . . . . . . . . . . . . . .,date_updated
289,290,SDTDAY,Time of Day. . . . . . . . . . . . . . .,DECIMAL,6,6.0,TDAY,P,9.0,6.0,0.0,Time of Day. . . . . . . . . . . . . . .,time_of_day
290,291,SDUPAJ,Date Added . . . . . . . . . . . . . . .,NUMERIC,6,6.0,UPAJ,S,11.0,6.0,0.0,Date Added . . . . . . . . . . . . . . .,date_added
291,292,SDTENT,Time Entered . . . . . . . . . . . . . .,NUMERIC,6,6.0,TENT,S,9.0,6.0,0.0,Time Entered . . . . . . . . . . . . . .,time_entered

In [23]:
def field_format_sel(col_name, col_type, col_dec):
    val =''

    if col_type == 9 :
        if col_dec > 0 :
            val = 'CAST(({})/{} AS DEC({},{})) AS {}'.format(col_name,10**col_dec,15,np.int(col_dec),col_name)
        else :
            val = col_name
    elif  col_type == 11 : 
        if convert_julian_date :
            val = 'CASE WHEN {} IS NOT NULL THEN DATE(DIGITS(DEC({}+ 1900000,7,0))) ELSE NULL END AS {}'.format(col_name, col_name, col_name)
        else :
            val = '{} as {}'.format(col_name,col_name)
    else : 
        val = col_name
    return val;

def field_format_map(col_name, col_descr, is_etl = False):
    val =''

    col_name_format = '{message:{fill}{align}{width}}'.format(message=col_name, fill='_', align='<', width=6)
    
    col_descr_format = col_descr
    if str.isdigit(col_descr_format[0]) :
        col_descr_format = "_" + col_descr_format
        
    if is_etl :
        val = '{}_{} AS {}'.format(col_name_format, col_descr_format, col_descr_format)
    else :
        val = '"{}" AS {}_{}'.format(col_name, col_name_format, col_descr_format)

    return val;



sql_field_map = ', '.join([field_format_map(x,y)  \
                           for x, y in zip(dff['COLUMN_NAME'], dff['row_description_final'])])

sql_field_etl = ', '.join([field_format_map(x,y,is_etl=True)  \
                           for x, y in zip(dff['COLUMN_NAME'], dff['row_description_final'])])
#
# ok
sql_field_sel = ', '.join([ field_format_sel(col_name, col_type, col_dec) \
                           for col_name, col_type, col_dec in zip(dff['COLUMN_NAME'], dff['data_type'], dff['display_decimals'])])

In [24]:
sql_field_sel

'SDKCOO, SDDOCO, SDDCTO, CAST((SDLNID)/1000.0 AS DEC(15,3)) AS SDLNID, SDSFXO, SDSFX, SDMCU, SDCO, SDOKCO, SDOORN, SDOCTO, CAST((SDOGNO)/1000.0 AS DEC(15,3)) AS SDOGNO, SDRKCO, SDRORN, SDRCTO, CAST((SDRLLN)/1000.0 AS DEC(15,3)) AS SDRLLN, SDDMCT, SDDMCS, SDBALU, SDAN8, SDSHAN, SDMKFR, SDBTAN, SDPA8, CASE WHEN SDDRQJ IS NOT NULL THEN DATE(DIGITS(DEC(SDDRQJ+ 1900000,7,0))) ELSE NULL END AS SDDRQJ, CASE WHEN SDTRDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDTRDJ+ 1900000,7,0))) ELSE NULL END AS SDTRDJ, CASE WHEN SDPDDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDPDDJ+ 1900000,7,0))) ELSE NULL END AS SDPDDJ, CASE WHEN SDOPDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDOPDJ+ 1900000,7,0))) ELSE NULL END AS SDOPDJ, CASE WHEN SDADDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDADDJ+ 1900000,7,0))) ELSE NULL END AS SDADDJ, CASE WHEN SDIVD IS NOT NULL THEN DATE(DIGITS(DEC(SDIVD+ 1900000,7,0))) ELSE NULL END AS SDIVD, CASE WHEN SDCNDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDCNDJ+ 1900000,7,0))) ELSE NULL END AS SDCNDJ, CASE WHEN SDDGL IS NOT NULL THEN DATE(DIGITS(DEC(SDDGL+ 1900000,7,0))) ELSE NULL END AS SDDGL, CASE WHEN SDRSDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDRSDJ+ 1900000,7,0))) ELSE NULL END AS SDRSDJ, CASE WHEN SDPEFJ IS NOT NULL THEN DATE(DIGITS(DEC(SDPEFJ+ 1900000,7,0))) ELSE NULL END AS SDPEFJ, CASE WHEN SDPPDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDPPDJ+ 1900000,7,0))) ELSE NULL END AS SDPPDJ, CASE WHEN SDRQSJ IS NOT NULL THEN DATE(DIGITS(DEC(SDRQSJ+ 1900000,7,0))) ELSE NULL END AS SDRQSJ, CASE WHEN SDADLJ IS NOT NULL THEN DATE(DIGITS(DEC(SDADLJ+ 1900000,7,0))) ELSE NULL END AS SDADLJ, SDDRQT, SDRSDT, SDVR01, SDVR02, SDVR03, SDITM, SDLITM, SDAITM, SDMERL, SDLOCN, SDLOTN, SDFRGD, SDTHGD, SDACGD, CAST((SDFRMP)/1000.0 AS DEC(15,3)) AS SDFRMP, CAST((SDTHRP)/1000.0 AS DEC(15,3)) AS SDTHRP, CAST((SDAPOT)/1000.0 AS DEC(15,3)) AS SDAPOT, SDEXDP, SDDSC1, SDDSC2, SDLNTY, SDNXTR, SDLTTR, SDHOLD, SDEMCU, SDHDBU, SDDMBU, SDRLIT, CAST((SDKTLN)/1000.0 AS DEC(15,3)) AS SDKTLN, CAST((SDCPNT)/10.0 AS DEC(15,1)) AS SDCPNT, SDRKIT, SDKTP, SDCSID, SDSRP1, SDSRP2, SDSRP3, SDSRP4, SDSRP5, SDPRP1, SDPRP2, SDPRP3, SDPRP4, SDPRP5, SDDMS1, SDDMT1, SDUOM, SDUORG, SDSOQS, SDSOBK, SDSOCN, SDSONE, SDUOPN, SDQTYT, SDQRLV, SDCOMM, SDOTQY, SDBCRC, CAST((SDUPRC)/10000.0 AS DEC(15,4)) AS SDUPRC, CAST((SDAEXP)/100.0 AS DEC(15,2)) AS SDAEXP, CAST((SDAOPN)/100.0 AS DEC(15,2)) AS SDAOPN, SDPROV, SDTPC, SDAPUM, CAST((SDLPRC)/10000.0 AS DEC(15,4)) AS SDLPRC, CAST((SDUNCS)/10000.0 AS DEC(15,4)) AS SDUNCS, CAST((SDECST)/100.0 AS DEC(15,2)) AS SDECST, SDCSTO, CAST((SDTCST)/10000.0 AS DEC(15,4)) AS SDTCST, SDINMG, SDPTC, SDRYIN, SDDTBS, CAST((SDTRDC)/1000.0 AS DEC(15,3)) AS SDTRDC, CAST((SDFUN2)/10000.0 AS DEC(15,4)) AS SDFUN2, SDASN, SDOSEQ, SDPRGR, SDCLVL, CAST((SDDSPR)/10000.0 AS DEC(15,4)) AS SDDSPR, SDDSFT, SDFAPP, CAST((SDCADC)/1000.0 AS DEC(15,3)) AS SDCADC, SDKCO, SDDOC, SDDCT, SDODOC, SDODCT, SDOKC, SDPSN, SDDELN, SDPTSK, SDTAX1, SDTXA1, SDEXR1, SDATXT, SDPRIO, SDRESL, SDBACK, SDSBAL, SDAPTS, SDLOB, SDEUSE, SDDTYS, SDNTR, SDVEND, SDANBY, SDCARS, SDMOT, SDCOT, SDROUT, SDSTOP, SDZON, SDCNID, SDFRTH, SDAFT, SDFUF1, SDFRTC, SDFRAT, SDRATT, SDSHCM, SDSHCN, SDSHPN, SDSERN, SDLDNM, SDSHMT, SDTKNR, SDTKTM, CASE WHEN SDTKDA IS NOT NULL THEN DATE(DIGITS(DEC(SDTKDA+ 1900000,7,0))) ELSE NULL END AS SDTKDA, SDUOM1, SDPQOR, SDUOM2, SDSQOR, SDUOM4, CAST((SDITWT)/10000.0 AS DEC(15,4)) AS SDITWT, SDWTUM, CAST((SDITVL)/10000.0 AS DEC(15,4)) AS SDITVL, SDVLUM, SDRPRC, SDORPR, SDORP, SDCMGP, SDCMGL, SDGLC, SDCTRY, SDFY, SDSTTS, SDSO01, SDSO02, SDSO03, SDSO04, SDSO05, SDSO06, SDSO07, SDSO08, SDSO09, SDSO10, SDSO11, SDSO12, SDSO13, SDSO14, SDSO15, SDSO16, SDSO17, SDSO18, SDSO19, SDSO20, SDSLSM, CAST((SDSLCM)/1000.0 AS DEC(15,3)) AS SDSLCM, SDSLM2, CAST((SDSLC2)/1000.0 AS DEC(15,3)) AS SDSLC2, SDACOM, SDCMCG, SDRCD, CAST((SDGRWT)/10000.0 AS DEC(15,4)) AS SDGRWT, SDGWUM, SDANI, SDAID, SDOMCU, SDOBJ, SDSUB, SDLT, SDSBL, SDSBLT, SDLCOD, SDUPC1, SDUPC2, SDUPC3, SDSWMS, SDUNCD, SDCRMD, SDCRCD, SDCRR, CAST((SDFPRC)/10000.0 AS DEC(15,4)) AS SDFPRC, CAST((SDFUP)/10000.0 AS DEC(15,4)) AS SDFUP, CAST((SDFEA)/100.0 AS DEC(15,2)) AS SDFEA, CAST((SDFUC)/10000.0 AS DEC(15,4)) AS SDFUC, CAST((SDFEC)/100.0 AS DEC(15,2)) AS SDFEC, SDURCD, CASE WHEN SDURDT IS NOT NULL THEN DATE(DIGITS(DEC(SDURDT+ 1900000,7,0))) ELSE NULL END AS SDURDT, CAST((SDURAT)/100.0 AS DEC(15,2)) AS SDURAT, SDURAB, SDURRF, CASE WHEN SDSCPD IS NOT NULL THEN DATE(DIGITS(DEC(SDSCPD+ 1900000,7,0))) ELSE NULL END AS SDSCPD, SDSCPT, SDSCPS, SDEDCK, SDSBCK, SDBBCK, SDCMDM, SDUSC1, SDUSC2, SDUSC3, SDUSC4, SDUSC5, SDBLNO, SDTMUP, CASE WHEN SDS1DJ IS NOT NULL THEN DATE(DIGITS(DEC(SDS1DJ+ 1900000,7,0))) ELSE NULL END AS SDS1DJ, CASE WHEN SDS2DJ IS NOT NULL THEN DATE(DIGITS(DEC(SDS2DJ+ 1900000,7,0))) ELSE NULL END AS SDS2DJ, SDWORN, SDWCTO, SDWKCO, SDWGNO, SDWCEJ, SDWFLG, SDWODO, SDWOCT, SDMMCU, SDSOQO, SDBOLA, SDSO21, SDSO22, SDSO23, SDSO24, SDSO25, SDSO26, SDSO27, SDSO28, SDSO29, SDSO30, SDABR1, SDABT1, SDABR2, SDABT2, SDABR3, SDABT3, SDABR4, SDABT4, SDTORG, SDUSER, SDPID, SDJOBN, CASE WHEN SDUPMJ IS NOT NULL THEN DATE(DIGITS(DEC(SDUPMJ+ 1900000,7,0))) ELSE NULL END AS SDUPMJ, SDTDAY, CASE WHEN SDUPAJ IS NOT NULL THEN DATE(DIGITS(DEC(SDUPAJ+ 1900000,7,0))) ELSE NULL END AS SDUPAJ, SDTENT'

In [25]:
sql_table_map = '''

--------------------------------------------------------------------------------
-- DROP TABLE Integration.{}_{}_<instert_friendly_name_here>
--------------------------------------------------------------------------------

SELECT 

    {} 
    {} 

-- INTO {}{}_{}_<instert_friendly_name_here>

FROM 
    OPENQUERY ({}, '

	SELECT
		{}

	FROM
		{}.{}
--    WHERE
--        <insert custom code here>
--    ORDER BY
--        <insert custom code here>
')

--------------------------------------------------------------------------------

'''.format(sql_lib, sql_table, 'Top 5', sql_field_map, stage_db_schema, sql_lib, sql_table, sql_link_server, sql_field_sel, sql_lib, sql_table)

### Output Table
1. Use to create STAGE via SQL link table 
1. Note that some Julian _JDT conversion will need to be converted Post

In [26]:
print(sql_table_map)

--------------------------------------------------------------------------------
-- DROP TABLE Integration.ARCPDTA71_F4211_<instert_friendly_name_here>
--------------------------------------------------------------------------------

SELECT

    Top 5
    "SDKCOO" AS SDKCOO_order_number_document_company, "SDDOCO" AS SDDOCO_salesorder_number, "SDDCTO" AS SDDCTO_order_type, "SDLNID" AS SDLNID_line_number, "SDSFXO" AS SDSFXO_order_suffix, "SDSFX" AS SDSFX__pay_item, "SDMCU" AS SDMCU__business_unit, "SDCO" AS SDCO___company, "SDOKCO" AS SDOKCO_original_order_document_company, "SDOORN" AS SDOORN_original_order_number, "SDOCTO" AS SDOCTO_original_order_type, "SDOGNO" AS SDOGNO_original_line_number, "SDRKCO" AS SDRKCO_related_order_key_company, "SDRORN" AS SDRORN_related_order_number, "SDRCTO" AS SDRCTO_related_order_type, "SDRLLN" AS SDRLLN_related_poso_line_number, "SDDMCT" AS SDDMCT_contract_number, "SDDMCS" AS SDDMCS_contract_supplement, "SDBALU" AS SDBALU_contract_balances_updated_yn, "SDAN8" AS SDAN8__billto, "SDSHAN" AS SDSHAN_shipto, "SDMKFR" AS SDMKFR_markfor, "SDBTAN" AS SDBTAN_bill_to_number, "SDPA8" AS SDPA8__parent_number, "SDDRQJ" AS SDDRQJ_requested, "SDTRDJ" AS SDTRDJ_order_date, "SDPDDJ" AS SDPDDJ_scheduled_pick, "SDOPDJ" AS SDOPDJ_original_promised, "SDADDJ" AS SDADDJ_actual_ship, "SDIVD" AS SDIVD__invoice_date, "SDCNDJ" AS SDCNDJ_cancel_date, "SDDGL" AS SDDGL__gl_date, "SDRSDJ" AS SDRSDJ_promised_delivery, "SDPEFJ" AS SDPEFJ_price_effective, "SDPPDJ" AS SDPPDJ_future_use_1, "SDRQSJ" AS SDRQSJ_requested, "SDADLJ" AS SDADLJ_actual_delivery, "SDDRQT" AS SDDRQT_requested_delivery_time, "SDRSDT" AS SDRSDT_promised_delivery_time, "SDVR01" AS SDVR01_reference, "SDVR02" AS SDVR02_reference_2, "SDVR03" AS SDVR03_markfor_reference, "SDITM" AS SDITM__item_number_short, "SDLITM" AS SDLITM_item_number, "SDAITM" AS SDAITM__3rd_item_number, "SDMERL" AS SDMERL_item_revision_level, "SDLOCN" AS SDLOCN_location, "SDLOTN" AS SDLOTN_lot, "SDFRGD" AS SDFRGD_from_grade, "SDTHGD" AS SDTHGD_thru_grade, "SDACGD" AS SDACGD_actual_grade, "SDFRMP" AS SDFRMP_from_potency, "SDTHRP" AS SDTHRP_thru_potency, "SDAPOT" AS SDAPOT_actual_potency, "SDEXDP" AS SDEXDP_days_before_expiration, "SDDSC1" AS SDDSC1_description, "SDDSC2" AS SDDSC2_description_2, "SDLNTY" AS SDLNTY_line_type, "SDNXTR" AS SDNXTR_status_code_next, "SDLTTR" AS SDLTTR_status_code_last, "SDHOLD" AS SDHOLD_hold_orders_code, "SDEMCU" AS SDEMCU_header_business_unit, "SDHDBU" AS SDHDBU_header_business_unit, "SDDMBU" AS SDDMBU_demand_business_unit, "SDRLIT" AS SDRLIT_related_item_number_kit, "SDKTLN" AS SDKTLN_kit_master_line_number, "SDCPNT" AS SDCPNT_component_line_number, "SDRKIT" AS SDRKIT_related_kit_component, "SDKTP" AS SDKTP__number_of_component_per_parent, "SDCSID" AS SDCSID_configured_string_id, "SDSRP1" AS SDSRP1_major_product_class, "SDSRP2" AS SDSRP2_sub_major_product_class, "SDSRP3" AS SDSRP3_minor_product_class, "SDSRP4" AS SDSRP4_sub_minor_product_class, "SDSRP5" AS SDSRP5_hazardous_class, "SDPRP1" AS SDPRP1_commodity_class, "SDPRP2" AS SDPRP2_commodity_sub_class, "SDPRP3" AS SDPRP3_supplier_rebate_code, "SDPRP4" AS SDPRP4_tax_classification, "SDPRP5" AS SDPRP5_landed_cost_rule, "SDDMS1" AS SDDMS1_agreement_supplement, "SDDMT1" AS SDDMT1_borrow_agreement, "SDUOM" AS SDUOM__um, "SDUORG" AS SDUORG_quantity, "SDSOQS" AS SDSOQS_quantity_shipped, "SDSOBK" AS SDSOBK_quantity_backordered, "SDSOCN" AS SDSOCN_quantity_canceled, "SDSONE" AS SDSONE_future_quantity_committed, "SDUOPN" AS SDUOPN_quantity_open, "SDQTYT" AS SDQTYT_quantity_shipped_to_date, "SDQRLV" AS SDQRLV_quantity_relieved, "SDCOMM" AS SDCOMM_committed_hs, "SDOTQY" AS SDOTQY_other_quantity_12, "SDBCRC" AS SDBCRC_base_currency, "SDUPRC" AS SDUPRC_unit_price, "SDAEXP" AS SDAEXP_extended_price, "SDAOPN" AS SDAOPN_amount_open, "SDPROV" AS SDPROV_price_override_code, "SDTPC" AS SDTPC__temporary_price_yn, "SDAPUM" AS SDAPUM_entered_unit_of_measure_for_unit_price, "SDLPRC" AS SDLPRC_unit_list_price, "SDUNCS" AS SDUNCS_unit_cost, "SDECST" AS SDECST_extended_cost, "SDCSTO" AS SDCSTO_cost_override_code, "SDTCST" AS SDTCST_transfer_cost, "SDINMG" AS SDINMG_print_message, "SDPTC" AS SDPTC__payment_terms, "SDRYIN" AS SDRYIN_payment_instrument, "SDDTBS" AS SDDTBS_based_on_date, "SDTRDC" AS SDTRDC_trade_discount, "SDFUN2" AS SDFUN2_trade_discount_old, "SDASN" AS SDASN__adjustment_schedule, "SDOSEQ" AS SDOSEQ_sequence_number, "SDPRGR" AS SDPRGR_item_price_group, "SDCLVL" AS SDCLVL_pricing_category_level, "SDDSPR" AS SDDSPR_discount_factor, "SDDSFT" AS SDDSFT_discount_factor_type_amt_orpct, "SDFAPP" AS SDFAPP_discount_application_type, "SDCADC" AS SDCADC_cash_discount_pct, "SDKCO" AS SDKCO__document_company, "SDDOC" AS SDDOC__document_number, "SDDCT" AS SDDCT__document_type, "SDODOC" AS SDODOC_original_document_no, "SDODCT" AS SDODCT_original_document_type, "SDOKC" AS SDOKC__original_document_company, "SDPSN" AS SDPSN__pick_slip_number, "SDDELN" AS SDDELN_delivery_number, "SDPTSK" AS SDPTSK_task_number, "SDTAX1" AS SDTAX1_sales_taxable, "SDTXA1" AS SDTXA1_tax_ratearea, "SDEXR1" AS SDEXR1_tax_expl_code, "SDATXT" AS SDATXT_associated_text, "SDPRIO" AS SDPRIO_priority_processing_code, "SDRESL" AS SDRESL_printed_code, "SDBACK" AS SDBACK_backorders_allowed_yn, "SDSBAL" AS SDSBAL_substitutes_allowed_yn, "SDAPTS" AS SDAPTS_partial_shipments_allowed_yn, "SDLOB" AS SDLOB__line_of_business, "SDEUSE" AS SDEUSE_end_use, "SDDTYS" AS SDDTYS_duty_status, "SDNTR" AS SDNTR__nature_of_transaction, "SDVEND" AS SDVEND_primary_last_supplier_number, "SDANBY" AS SDANBY_buyer_number, "SDCARS" AS SDCARS_carrier_number, "SDMOT" AS SDMOT__mode_of_trn, "SDCOT" AS SDCOT__conditions_of_transport, "SDROUT" AS SDROUT_ship_method, "SDSTOP" AS SDSTOP_stop_code, "SDZON" AS SDZON__zone_number, "SDCNID" AS SDCNID_container_id, "SDFRTH" AS SDFRTH_freight_handling_code, "SDAFT" AS SDAFT__apply_freight_yn, "SDFUF1" AS SDFUF1_aia_document, "SDFRTC" AS SDFRTC_freight_calculated_yn, "SDFRAT" AS SDFRAT_rate_code_freightmisc, "SDRATT" AS SDRATT_rate_type_freightmisc, "SDSHCM" AS SDSHCM_shipping_commodity_class, "SDSHCN" AS SDSHCN_shipping_conditions_code, "SDSHPN" AS SDSHPN_shipment_number, "SDSERN" AS SDSERN_lot_serial_number, "SDLDNM" AS SDLDNM_load_number, "SDSHMT" AS SDSHMT_shipment_number_itls, "SDTKNR" AS SDTKNR_ticket_number, "SDTKTM" AS SDTKTM_ticket_time, "SDTKDA" AS SDTKDA_ticket_date, "SDUOM1" AS SDUOM1_unit_of_measure, "SDPQOR" AS SDPQOR_quantity_ordered, "SDUOM2" AS SDUOM2_secondary_uom, "SDSQOR" AS SDSQOR_secondary_quantity_ordered, "SDUOM4" AS SDUOM4_pricing_uom, "SDITWT" AS SDITWT_unit_weight, "SDWTUM" AS SDWTUM_weight_unit_of_measure, "SDITVL" AS SDITVL_unit_volume, "SDVLUM" AS SDVLUM_volume_unit_of_measure, "SDRPRC" AS SDRPRC_basket_reprice_group, "SDORPR" AS SDORPR_order_reprice_group, "SDORP" AS SDORP__order_repriced_indicator, "SDCMGP" AS SDCMGP_inventory_costing_method, "SDCMGL" AS SDCMGL_commitment_method, "SDGLC" AS SDGLC__gl_offset, "SDCTRY" AS SDCTRY_century, "SDFY" AS SDFY___fiscal_year, "SDSTTS" AS SDSTTS_line_status, "SDSO01" AS SDSO01_inter_branch_sales, "SDSO02" AS SDSO02_on_hand_updated, "SDSO03" AS SDSO03_configurator_print_flag, "SDSO04" AS SDSO04_sales_order_status_04, "SDSO05" AS SDSO05_substitute_item_indicator, "SDSO06" AS SDSO06_preference_commitment_indicator, "SDSO07" AS SDSO07_ship_date_overridden, "SDSO08" AS SDSO08_price_adjustment_line_indicator, "SDSO09" AS SDSO09_sales_order_status_09, "SDSO10" AS SDSO10_preference_product_allocation, "SDSO11" AS SDSO11_sales_order_status_11, "SDSO12" AS SDSO12_sales_order_status_12, "SDSO13" AS SDSO13_euro_conversion_status, "SDSO14" AS SDSO14_order_promising_flag, "SDSO15" AS SDSO15_sales_order_status_15, "SDSO16" AS SDSO16_shipment_confirmed, "SDSO17" AS SDSO17_split_line, "SDSO18" AS SDSO18_backorders_printed, "SDSO19" AS SDSO19_adjustment_level, "SDSO20" AS SDSO20_sales_order_status_20, "SDSLSM" AS SDSLSM_salesperson_code_01, "SDSLCM" AS SDSLCM_salesperson_commission_1, "SDSLM2" AS SDSLM2_salesperson_code_02, "SDSLC2" AS SDSLC2_salesperson_commission_2, "SDACOM" AS SDACOM_apply_commission_yn, "SDCMCG" AS SDCMCG_commission_category, "SDRCD" AS SDRCD__reason_code, "SDGRWT" AS SDGRWT_gross_weight, "SDGWUM" AS SDGWUM_gross_weight_unit_of_measure, "SDANI" AS SDANI__account_number, "SDAID" AS SDAID__account_id, "SDOMCU" AS SDOMCU_project_cost_center, "SDOBJ" AS SDOBJ__object_account, "SDSUB" AS SDSUB__subsidiary, "SDLT" AS SDLT___ledger_type, "SDSBL" AS SDSBL__subledger, "SDSBLT" AS SDSBLT_subledger_type, "SDLCOD" AS SDLCOD_loc_tax_code, "SDUPC1" AS SDUPC1_price_code_1, "SDUPC2" AS SDUPC2_price_code_2, "SDUPC3" AS SDUPC3_price_code_3, "SDSWMS" AS SDSWMS_warehouse_status_code, "SDUNCD" AS SDUNCD_freeze_code, "SDCRMD" AS SDCRMD_send_method, "SDCRCD" AS SDCRCD_currency_code, "SDCRR" AS SDCRR__exchange_rate, "SDFPRC" AS SDFPRC_foreign_list_price, "SDFUP" AS SDFUP__foreign_unit_price, "SDFEA" AS SDFEA__foreign_extended_price, "SDFUC" AS SDFUC__foreign_unit_cost, "SDFEC" AS SDFEC__foreign_extended_cost, "SDURCD" AS SDURCD_user_reserved_code, "SDURDT" AS SDURDT_user_reserved_date, "SDURAT" AS SDURAT_user_reserved_amount, "SDURAB" AS SDURAB_user_reserved_number, "SDURRF" AS SDURRF_user_reserved_reference, "SDSCPD" AS SDSCPD_scheduled_completed_date, "SDSCPT" AS SDSCPT_scheduled_completed_time_hhmmss, "SDSCPS" AS SDSCPS_scheduled_completed_shift, "SDEDCK" AS SDEDCK_check_expiration_date, "SDSBCK" AS SDSBCK_check_sell_by_date, "SDBBCK" AS SDBBCK_check_best_before_date, "SDCMDM" AS SDCMDM_commitment_date_method, "SDUSC1" AS SDUSC1_check_user_defined_date_flag_1, "SDUSC2" AS SDUSC2_check_user_defined_date_flag_2, "SDUSC3" AS SDUSC3_check_user_defined_date_flag_3, "SDUSC4" AS SDUSC4_check_user_defined_date_flag_4, "SDUSC5" AS SDUSC5_check_user_defined_date_flag_5, "SDBLNO" AS SDBLNO_bill_of_lading_number, "SDTMUP" AS SDTMUP_transfer_price_code, "SDS1DJ" AS SDS1DJ_sales_order_date_1, "SDS2DJ" AS SDS2DJ_sales_order_date_2, "SDWORN" AS SDWORN_warranty_order_number, "SDWCTO" AS SDWCTO_warranty_document_type, "SDWKCO" AS SDWKCO_warranty_document_company, "SDWGNO" AS SDWGNO_warranty_line_number, "SDWCEJ" AS SDWCEJ_warranty_expiration_date, "SDWFLG" AS SDWFLG_warranty_action_flag, "SDWODO" AS SDWODO_work_order_number, "SDWOCT" AS SDWOCT_order_type, "SDMMCU" AS SDMMCU_branch, "SDSOQO" AS SDSOQO_original_quantity, "SDBOLA" AS SDBOLA_bill_of_lading_number, "SDSO21" AS SDSO21_exchange_rate_date_flag, "SDSO22" AS SDSO22_future_line_printed, "SDSO23" AS SDSO23_sales_order_status_23, "SDSO24" AS SDSO24_sales_order_status_24, "SDSO25" AS SDSO25_sales_order_status_25, "SDSO26" AS SDSO26_sales_order_status_26, "SDSO27" AS SDSO27_sales_order_status_27, "SDSO28" AS SDSO28_sales_order_status_28, "SDSO29" AS SDSO29_sales_order_status_29, "SDSO30" AS SDSO30_sales_order_status_30, "SDABR1" AS SDABR1_enh_subledger_code_1, "SDABT1" AS SDABT1_enh_subledger_type_1, "SDABR2" AS SDABR2_enh_subledger_code_2, "SDABT2" AS SDABT2_enh_subledger_type_2, "SDABR3" AS SDABR3_enh_subledger_code_3, "SDABT3" AS SDABT3_enh_subledger_type_3, "SDABR4" AS SDABR4_enh_subledger_code_4, "SDABT4" AS SDABT4_enh_subledger_type_4, "SDTORG" AS SDTORG_transaction_originator, "SDUSER" AS SDUSER_user_id, "SDPID" AS SDPID__program_id, "SDJOBN" AS SDJOBN_work_station_id, "SDUPMJ" AS SDUPMJ_date_updated, "SDTDAY" AS SDTDAY_time_of_day, "SDUPAJ" AS SDUPAJ_date_added, "SDTENT" AS SDTENT_time_entered

-- INTO Integration.ARCPDTA71_F4211_<instert_friendly_name_here>

FROM
    OPENQUERY (ESYS_PROD, '

	SELECT
		SDKCOO, SDDOCO, SDDCTO, CAST((SDLNID)/1000.0 AS DEC(15,3)) AS SDLNID, SDSFXO, SDSFX, SDMCU, SDCO, SDOKCO, SDOORN, SDOCTO, CAST((SDOGNO)/1000.0 AS DEC(15,3)) AS SDOGNO, SDRKCO, SDRORN, SDRCTO, CAST((SDRLLN)/1000.0 AS DEC(15,3)) AS SDRLLN, SDDMCT, SDDMCS, SDBALU, SDAN8, SDSHAN, SDMKFR, SDBTAN, SDPA8, CASE WHEN SDDRQJ IS NOT NULL THEN DATE(DIGITS(DEC(SDDRQJ+ 1900000,7,0))) ELSE NULL END AS SDDRQJ, CASE WHEN SDTRDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDTRDJ+ 1900000,7,0))) ELSE NULL END AS SDTRDJ, CASE WHEN SDPDDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDPDDJ+ 1900000,7,0))) ELSE NULL END AS SDPDDJ, CASE WHEN SDOPDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDOPDJ+ 1900000,7,0))) ELSE NULL END AS SDOPDJ, CASE WHEN SDADDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDADDJ+ 1900000,7,0))) ELSE NULL END AS SDADDJ, CASE WHEN SDIVD IS NOT NULL THEN DATE(DIGITS(DEC(SDIVD+ 1900000,7,0))) ELSE NULL END AS SDIVD, CASE WHEN SDCNDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDCNDJ+ 1900000,7,0))) ELSE NULL END AS SDCNDJ, CASE WHEN SDDGL IS NOT NULL THEN DATE(DIGITS(DEC(SDDGL+ 1900000,7,0))) ELSE NULL END AS SDDGL, CASE WHEN SDRSDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDRSDJ+ 1900000,7,0))) ELSE NULL END AS SDRSDJ, CASE WHEN SDPEFJ IS NOT NULL THEN DATE(DIGITS(DEC(SDPEFJ+ 1900000,7,0))) ELSE NULL END AS SDPEFJ, CASE WHEN SDPPDJ IS NOT NULL THEN DATE(DIGITS(DEC(SDPPDJ+ 1900000,7,0))) ELSE NULL END AS SDPPDJ, CASE WHEN SDRQSJ IS NOT NULL THEN DATE(DIGITS(DEC(SDRQSJ+ 1900000,7,0))) ELSE NULL END AS SDRQSJ, CASE WHEN SDADLJ IS NOT NULL THEN DATE(DIGITS(DEC(SDADLJ+ 1900000,7,0))) ELSE NULL END AS SDADLJ, SDDRQT, SDRSDT, SDVR01, SDVR02, SDVR03, SDITM, SDLITM, SDAITM, SDMERL, SDLOCN, SDLOTN, SDFRGD, SDTHGD, SDACGD, CAST((SDFRMP)/1000.0 AS DEC(15,3)) AS SDFRMP, CAST((SDTHRP)/1000.0 AS DEC(15,3)) AS SDTHRP, CAST((SDAPOT)/1000.0 AS DEC(15,3)) AS SDAPOT, SDEXDP, SDDSC1, SDDSC2, SDLNTY, SDNXTR, SDLTTR, SDHOLD, SDEMCU, SDHDBU, SDDMBU, SDRLIT, CAST((SDKTLN)/1000.0 AS DEC(15,3)) AS SDKTLN, CAST((SDCPNT)/10.0 AS DEC(15,1)) AS SDCPNT, SDRKIT, SDKTP, SDCSID, SDSRP1, SDSRP2, SDSRP3, SDSRP4, SDSRP5, SDPRP1, SDPRP2, SDPRP3, SDPRP4, SDPRP5, SDDMS1, SDDMT1, SDUOM, SDUORG, SDSOQS, SDSOBK, SDSOCN, SDSONE, SDUOPN, SDQTYT, SDQRLV, SDCOMM, SDOTQY, SDBCRC, CAST((SDUPRC)/10000.0 AS DEC(15,4)) AS SDUPRC, CAST((SDAEXP)/100.0 AS DEC(15,2)) AS SDAEXP, CAST((SDAOPN)/100.0 AS DEC(15,2)) AS SDAOPN, SDPROV, SDTPC, SDAPUM, CAST((SDLPRC)/10000.0 AS DEC(15,4)) AS SDLPRC, CAST((SDUNCS)/10000.0 AS DEC(15,4)) AS SDUNCS, CAST((SDECST)/100.0 AS DEC(15,2)) AS SDECST, SDCSTO, CAST((SDTCST)/10000.0 AS DEC(15,4)) AS SDTCST, SDINMG, SDPTC, SDRYIN, SDDTBS, CAST((SDTRDC)/1000.0 AS DEC(15,3)) AS SDTRDC, CAST((SDFUN2)/10000.0 AS DEC(15,4)) AS SDFUN2, SDASN, SDOSEQ, SDPRGR, SDCLVL, CAST((SDDSPR)/10000.0 AS DEC(15,4)) AS SDDSPR, SDDSFT, SDFAPP, CAST((SDCADC)/1000.0 AS DEC(15,3)) AS SDCADC, SDKCO, SDDOC, SDDCT, SDODOC, SDODCT, SDOKC, SDPSN, SDDELN, SDPTSK, SDTAX1, SDTXA1, SDEXR1, SDATXT, SDPRIO, SDRESL, SDBACK, SDSBAL, SDAPTS, SDLOB, SDEUSE, SDDTYS, SDNTR, SDVEND, SDANBY, SDCARS, SDMOT, SDCOT, SDROUT, SDSTOP, SDZON, SDCNID, SDFRTH, SDAFT, SDFUF1, SDFRTC, SDFRAT, SDRATT, SDSHCM, SDSHCN, SDSHPN, SDSERN, SDLDNM, SDSHMT, SDTKNR, SDTKTM, CASE WHEN SDTKDA IS NOT NULL THEN DATE(DIGITS(DEC(SDTKDA+ 1900000,7,0))) ELSE NULL END AS SDTKDA, SDUOM1, SDPQOR, SDUOM2, SDSQOR, SDUOM4, CAST((SDITWT)/10000.0 AS DEC(15,4)) AS SDITWT, SDWTUM, CAST((SDITVL)/10000.0 AS DEC(15,4)) AS SDITVL, SDVLUM, SDRPRC, SDORPR, SDORP, SDCMGP, SDCMGL, SDGLC, SDCTRY, SDFY, SDSTTS, SDSO01, SDSO02, SDSO03, SDSO04, SDSO05, SDSO06, SDSO07, SDSO08, SDSO09, SDSO10, SDSO11, SDSO12, SDSO13, SDSO14, SDSO15, SDSO16, SDSO17, SDSO18, SDSO19, SDSO20, SDSLSM, CAST((SDSLCM)/1000.0 AS DEC(15,3)) AS SDSLCM, SDSLM2, CAST((SDSLC2)/1000.0 AS DEC(15,3)) AS SDSLC2, SDACOM, SDCMCG, SDRCD, CAST((SDGRWT)/10000.0 AS DEC(15,4)) AS SDGRWT, SDGWUM, SDANI, SDAID, SDOMCU, SDOBJ, SDSUB, SDLT, SDSBL, SDSBLT, SDLCOD, SDUPC1, SDUPC2, SDUPC3, SDSWMS, SDUNCD, SDCRMD, SDCRCD, SDCRR, CAST((SDFPRC)/10000.0 AS DEC(15,4)) AS SDFPRC, CAST((SDFUP)/10000.0 AS DEC(15,4)) AS SDFUP, CAST((SDFEA)/100.0 AS DEC(15,2)) AS SDFEA, CAST((SDFUC)/10000.0 AS DEC(15,4)) AS SDFUC, CAST((SDFEC)/100.0 AS DEC(15,2)) AS SDFEC, SDURCD, CASE WHEN SDURDT IS NOT NULL THEN DATE(DIGITS(DEC(SDURDT+ 1900000,7,0))) ELSE NULL END AS SDURDT, CAST((SDURAT)/100.0 AS DEC(15,2)) AS SDURAT, SDURAB, SDURRF, CASE WHEN SDSCPD IS NOT NULL THEN DATE(DIGITS(DEC(SDSCPD+ 1900000,7,0))) ELSE NULL END AS SDSCPD, SDSCPT, SDSCPS, SDEDCK, SDSBCK, SDBBCK, SDCMDM, SDUSC1, SDUSC2, SDUSC3, SDUSC4, SDUSC5, SDBLNO, SDTMUP, CASE WHEN SDS1DJ IS NOT NULL THEN DATE(DIGITS(DEC(SDS1DJ+ 1900000,7,0))) ELSE NULL END AS SDS1DJ, CASE WHEN SDS2DJ IS NOT NULL THEN DATE(DIGITS(DEC(SDS2DJ+ 1900000,7,0))) ELSE NULL END AS SDS2DJ, SDWORN, SDWCTO, SDWKCO, SDWGNO, SDWCEJ, SDWFLG, SDWODO, SDWOCT, SDMMCU, SDSOQO, SDBOLA, SDSO21, SDSO22, SDSO23, SDSO24, SDSO25, SDSO26, SDSO27, SDSO28, SDSO29, SDSO30, SDABR1, SDABT1, SDABR2, SDABT2, SDABR3, SDABT3, SDABR4, SDABT4, SDTORG, SDUSER, SDPID, SDJOBN, CASE WHEN SDUPMJ IS NOT NULL THEN DATE(DIGITS(DEC(SDUPMJ+ 1900000,7,0))) ELSE NULL END AS SDUPMJ, SDTDAY, CASE WHEN SDUPAJ IS NOT NULL THEN DATE(DIGITS(DEC(SDUPAJ+ 1900000,7,0))) ELSE NULL END AS SDUPAJ, SDTENT

	FROM
		ARCPDTA71.F4211
--    WHERE
--        <insert custom code here>
--    ORDER BY
--        <insert custom code here>
')

--------------------------------------------------------------------------------

In [27]:
dff

,ORDINAL_POSITION,COLUMN_NAME,COLUMN_TEXT,DATA_TYPE,LENGTH,NUMERIC_PRECISION,data_item,data_item_type,data_type,data_item_size,display_decimals,row_description,row_description_final
0,1,SDKCOO,Order Company. . . . . . . . . . . . . .,CHAR,5,NaN,KCOO,A,2.0,5.0,0.0,Order Number Document Company. . . . . .,order_number_document_company
1,2,SDDOCO,Order Number . . . . . . . . . . . . . .,NUMERIC,8,8.0,DOCO,S,9.0,8.0,0.0,Order Number . . . . . . . . . . . . . .,salesorder_number
2,3,SDDCTO,Order Type . . . . . . . . . . . . . . .,CHAR,2,NaN,DCTO,A,2.0,2.0,0.0,Order Type . . . . . . . . . . . . . . .,order_type
3,4,SDLNID,Line Number. . . . . . . . . . . . . . .,DECIMAL,6,6.0,LNID,P,9.0,6.0,3.0,Line Number. . . . . . . . . . . . . . .,line_number
4,5,SDSFXO,Order Suffix . . . . . . . . . . . . . .,CHAR,3,NaN,SFXO,A,2.0,3.0,0.0,Order Suffix . . . . . . . . . . . . . .,order_suffix
5,6,SDSFX,Pay Item . . . . . . . . . . . . . . . .,CHAR,3,NaN,SFX,A,2.0,3.0,0.0,Pay Item . . . . . . . . . . . . . . . .,pay_item
6,7,SDMCU,Business Unit. . . . . . . . . . . . . .,CHAR,12,NaN,MCU,A,2.0,12.0,0.0,Business Unit. . . . . . . . . . . . . .,business_unit
7,8,SDCO,Company. . . . . . . . . . . . . . . . .,CHAR,5,NaN,CO,A,2.0,5.0,0.0,Company. . . . . . . . . . . . . . . . .,company
8,9,SDOKCO,Original Order Document Company. . . . .,CHAR,5,NaN,OKCO,A,2.0,5.0,0.0,Original Order Document Company. . . . .,original_order_document_company
9,10,SDOORN,Original Order Number. . . . . . . . . .,CHAR,8,NaN,OORN,A,2.0,8.0,0.0,Original Order Number. . . . . . . . . .,original_order_number
10,11,SDOCTO,Original Order Type. . . . . . . . . . .,CHAR,2,NaN,OCTO,A,2.0,2.0,0.0,Original Order Type. . . . . . . . . . .,original_order_type
11,12,SDOGNO,Original Line Number . . . . . . . . . .,DECIMAL,7,7.0,OGNO,P,9.0,7.0,3.0,Original Line Number . . . . . . . . . .,original_line_number
12,13,SDRKCO,Related Order Key Company. . . . . . . .,CHAR,5,NaN,RKCO,A,2.0,5.0,0.0,Related Order Key Company. . . . . . . .,related_order_key_company
13,14,SDRORN,Related Order Number . . . . . . . . . .,CHAR,8,NaN,RORN,A,2.0,8.0,0.0,Related Order Number . . . . . . . . . .,related_order_number
14,15,SDRCTO,Related Order Type . . . . . . . . . . .,CHAR,2,NaN,RCTO,A,2.0,2.0,0.0,Related Order Type . . . . . . . . . . .,related_order_type
15,16,SDRLLN,Related PO/SO Line Number. . . . . . . .,DECIMAL,7,7.0,RLLN,P,9.0,7.0,3.0,Related PO/SO Line Number. . . . . . . .,related_poso_line_number
16,17,SDDMCT,Agreement Nbr. . . . . . . . . . . . . .,CHAR,12,NaN,DMCT,A,2.0,12.0,0.0,Contract Number. . . . . . . . . . . . .,contract_number
17,18,SDDMCS,Agreement Supplement. . . . .. . . . ..,NUMERIC,3,3.0,DMCS,S,9.0,3.0,0.0,Contract Supplement. . . . . . . . . . .,contract_supplement
18,19,SDBALU,Contract Balances Updated Y/N. . . . . .,CHAR,1,NaN,BALU,A,1.0,1.0,0.0,Contract Balances Updated Y/N. . . . . .,contract_balances_updated_yn
19,20,SDAN8,Address Number . . . . . . . . . . . . .,NUMERIC,8,8.0,AN8,S,9.0,8.0,0.0,Address Number . . . . . . . . . . . . .,billto
20,21,SDSHAN,Ship To. . . . . . . . . . . . . . . . .,NUMERIC,8,8.0,SHAN,S,9.0,8.0,0.0,Ship To. . . . . . . . . . . . . . . . .,shipto
21,22,SDMKFR,Mark-for . . . . . . . . . . . . . . . .,NUMERIC,8,8.0,MKFR,S,9.0,8.0,0.0,Mark-for . . . . . . . . . . . . . . . .,markfor
22,23,SDBTAN,Bill To Number . . . . . . . . . . . . .,NUMERIC,8,8.0,BTAN,S,9.0,8.0,0.0,Bill To Number . . . . . . . . . . . . .,bill_to_number
23,24,SDPA8,Parent Number. . . . . . . . . . . . . .,NUMERIC,8,8.0,PA8,S,9.0,8.0,0.0,Parent Number. . . . . . . . . . . . . .,parent_number
24,25,SDDRQJ,Requested. . . . . . . . . . . . . . . .,NUMERIC,6,6.0,DRQJ,S,11.0,6.0,0.0,Requested. . . . . . . . . . . . . . . .,requested
25,26,SDTRDJ,Order Date . . . . . . . . . . . . . . .,NUMERIC,6,6.0,TRDJ,S,11.0,6.0,0.0,Order Date . . . . . . . . . . . . . . .,order_date
26,27,SDPDDJ,Scheduled Pick . . . . . . . . . . . . .,NUMERIC,6,6.0,PDDJ,S,11.0,6.0,0.0,Scheduled Pick . . . . . . . . . . . . .,scheduled_pick
27,28,SDOPDJ,Original Promised. . . . . . . . . . . .,NUMERIC,6,6.0,OPDJ,S,11.0,6.0,0.0,Original Promised. . . . . . . . . . . .,original_promised
28,29,SDADDJ,Actual Ship. . . . . . . . . . . . . . .,NUMERIC,6,6.0,ADDJ,S,11.0,6.0,0.0,Actual Ship. . . . . . . . . . . . . . .,actual_ship
29,30,SDIVD,Invoice Date . . . . . . . . . . . . . .,NUMERIC,6,6.0,IVD,S,11.0,6.0,0.0,Invoice Date . . . . . . . . . . . . . .,invoice_date
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,263,SDWOCT,Order Type . . . . . . . . . . . . . . .,CHAR,2,NaN,WOCT,A,2.0,2.0,0.0,Order Type . . . . . . . . . . . . . . .,order_type
263,264,SDMMCU,Branch . . . . . . . . . . . . . . . . .,CHAR,12,NaN,MMCU,A,2.0,12.0,0.0,Branch . . . . . . . . . . . . . . . . .,branch
264,265,SDSOQO,Original Quantity. . . . . . . . . . . .,DECIMAL,15,15.0,SOQO,P,9.0,15.0,0.0,Original Quantity. . . . . . . . . . . .,original_quantity
265,266,SDBOLA,Bill of Lading Number. . . . . . . . . .,NUMERIC,17,17.0,BOLA,S,9.0,17.0,0.0,Bill of Lading Number. . . . . . . . . .,bill_of_lading_number
266,267,SDSO21,Exchange Rate Date Flag . . .. . . . ..,CHAR,1,NaN,SO21,A,1.0,1.0,0.0,Exchange Rate Date Flag . . . . . . . ..,exchange_rate_date_flag
267,268,SDSO22,Future Line Printed. . . . . . . . . . .,CHAR,1,NaN,SO22,A,1.0,1.0,0.0,Future Line Printed. . . . . . . . . . .,future_line_printed
268,269,SDSO23,Sales Order Status 23. . . . . . . . . .,CHAR,1,NaN,SO23,A,1.0,1.0,0.0,Sales Order Status 23. . . . . . . . . .,sales_order_status_23
269,270,SDSO24,Sales Order Status 24. . . . . . . . . .,CHAR,1,NaN,SO24,A,1.0,1.0,0.0,Sales Order Status 24. . . . . . . . . .,sales_order_status_24
270,271,SDSO25,Sales Order Status 25. . . . . . . . . .,CHAR,1,NaN,SO25,A,1.0,1.0,0.0,Sales Order Status 25. . . . . . . . . .,sales_order_status_25
271,272,SDSO26,Sales Order Status 26. . . . . . . . . .,CHAR,1,NaN,SO26,A,1.0,1.0,0.0,Sales Order Status 26. . . . . . . . . .,sales_order_status_26
272,273,SDSO27,Sales Order Status 27. . . . . . . . . .,CHAR,1,NaN,SO27,A,1.0,1.0,0.0,Sales Order Status 27. . . . . . . . . .,sales_order_status_27
273,274,SDSO28,Sales Order Status 28. . . . . . . . . .,CHAR,1,NaN,SO28,A,1.0,1.0,0.0,Sales Order Status 28. . . . . . . . . .,sales_order_status_28
274,275,SDSO29,Sales Order Status 29. . . . . . . . . .,CHAR,1,NaN,SO29,A,1.0,1.0,0.0,Sales Order Status 29. . . . . . . . . .,sales_order_status_29
275,276,SDSO30,Sales Order Status 30. . . . . . . . . .,CHAR,1,NaN,SO30,A,1.0,1.0,0.0,Sales Order Status 30. . . . . . . . . .,sales_order_status_30
276,277,SDABR1,Enh Subledger Code 1 . . . . . . . . . .,CHAR,12,NaN,ABR1,A,2.0,12.0,0.0,Enh Subledger Code 1 . . . . . . . . . .,enh_subledger_code_1
277,278,SDABT1,Enh Subledger Type 1. . . . .. . .. . .,CHAR,1,NaN,ABT1,A,1.0,1.0,0.0,Enh Subledger Type 1. . . . . . . .. . .,enh_subledger_type_1
278,279,SDABR2,Enh Subledger Code 2 . . . . . . . . . .,CHAR,12,NaN,ABR2,A,2.0,12.0,0.0,Enh Subledger Code 2 . . . . . . . . . .,enh_subledger_code_2
279,280,SDABT2,Enh Subledger Type 2. . . . .. . .. . .,CHAR,1,NaN,ABT2,A,1.0,1.0,0.0,Enh Subledger Type 2. . . . . . . .. . .,enh_subledger_type_2
280,281,SDABR3,Enh Subledger Code 3 . . . . . . . . . .,CHAR,34,NaN,ABR3,A,2.0,34.0,0.0,Enh Subledger Code 3 . . . . . . . . . .,enh_subledger_code_3
281,282,SDABT3,Enh Subledger Type 3. . . . .. . .. . .,CHAR,1,NaN,ABT3,A,1.0,1.0,0.0,Enh Subledger Type 3. . . . . . . .. . .,enh_subledger_type_3
282,283,SDABR4,Enh Subledger Code 4. . . . .. . .. . .,CHAR,34,NaN,ABR4,A,2.0,34.0,0.0,Enh Subledger Code 4. . . . . . . .. . .,enh_subledger_code_4
283,284,SDABT4,Enh Subledger Type 4. . . . .. . .. . .,CHAR,1,NaN,ABT4,A,1.0,1.0,0.0,Enh Subledger Type 4. . . . . . . .. . .,enh_subledger_type_4
284,285,SDTORG,Transaction Originator . . . . . . . . .,CHAR,10,NaN,TORG,A,2.0,10.0,0.0,Transaction Originator . . . . . . . . .,transaction_originator
285,286,SDUSER,User ID. . . . . . . . . . . . . . . . .,CHAR,10,NaN,USER,A,2.0,10.0,0.0,User ID. . . . . . . . . . . . . . . . .,user_id
286,287,SDPID,Program ID . . . . . . . . . . . . . . .,CHAR,10,NaN,PID,A,2.0,10.0,0.0,Program ID . . . . . . . . . . . . . . .,program_id
287,288,SDJOBN,Work Station ID. . . . . . . . . . . . .,CHAR,10,NaN,JOBN,A,2.0,10.0,0.0,Work Station ID. . . . . . . . . . . . .,work_station_id
288,289,SDUPMJ,Date Updated . . . . . . . . . . . . . .,NUMERIC,6,6.0,UPMJ,S,11.0,6.0,0.0,Date Updated . . . . . . . . . . . . . .,date_updated
289,290,SDTDAY,Time of Day. . . . . . . . . . . . . . .,DECIMAL,6,6.0,TDAY,P,9.0,6.0,0.0,Time of Day. . . . . . . . . . . . . . .,time_of_day
290,291,SDUPAJ,Date Added . . . . . . . . . . . . . . .,NUMERIC,6,6.0,UPAJ,S,11.0,6.0,0.0,Date Added . . . . . . . . . . . . . . .,date_added
291,292,SDTENT,Time Entered . . . . . . . . . . . . . .,NUMERIC,6,6.0,TENT,S,9.0,6.0,0.0,Time Entered . . . . . . . . . . . . . .,time_entered

In [28]:
%time df_table_map = pd.read_sql_query(sql_table_map, engine);

CPU times: user 86.9 ms, sys: 412 s, total: 87.3 ms
Wall time: 4.16 s

### Next steps...
Add SQL to SQL Tools data package

In [29]:
df_table_map

,SDKCOO_order_number_document_company,SDDOCO_salesorder_number,SDDCTO_order_type,SDLNID_line_number,SDSFXO_order_suffix,SDSFX__pay_item,SDMCU__business_unit,SDCO___company,SDOKCO_original_order_document_company,SDOORN_original_order_number,...,SDABR4_enh_subledger_code_4,SDABT4_enh_subledger_type_4,SDTORG_transaction_originator,SDUSER_user_id,SDPID__program_id,SDJOBN_work_station_id,SDUPMJ_date_updated,SDTDAY_time_of_day,SDUPAJ_date_added,SDTENT_time_entered
0,02000,1056020.0,CA,3.0,000,,020099990011,02000,,,...,,,SCHART,ARCONA,X5723,ECS_PNDSRV,2018-03-16,144439.0,None,0.0
1,02000,1056026.0,CA,2.0,000,,020099990012,02000,,,...,,,SMAT05,ARCONA,X5723,ECS_PNDSRV,2018-03-16,150701.0,None,0.0
2,02000,1056028.0,CA,2.0,000,,020099990016,02000,,,...,,,VPENNE,ARCONA,X5723,ECS_PNDSRV,2018-03-16,151050.0,None,0.0
3,02000,1056035.0,CA,2.0,000,,020099990011,02000,,,...,,,NROY,ARCONA,X5723,ECS_PNDSRV,2018-03-16,152742.0,None,0.0
4,02000,1056057.0,CA,2.0,000,,020001000000,02000,,,...,,,PCON01,ARCONA,X5723,ECS_PNDSRV,2018-03-16,155711.0,None,0.0